/* em - sẽ được tính toán dựa theo kích cỡ của thằng bao bọc element đó */
.cha {
  font-size: 16px;
}

.con {
  /* 1.5 nhân với font-size của thằng cha bao bọc nó => 1.5 * 16 = 24px */
  font-size: 24px;
}

/* rem - thì kích cỡ chữ sẽ được tính toán dựa theo kích cỡ của thằng root (html)  */

/* html */
html {
  font-size: 62.5%;
}
.text {
  /* 2 * 10 = 20px */
  /* 2 * 20 = 40px */
  font-size: 3rem;
}
