div.container {
  text-align: center;
  /* Để tăng khoảng cách giữa các phần tử với nhau, thì ta sẽ sử dụng margin */
  margin-top: 12px;
}

a {
  color: red;
  text-decoration: underline;
}

p {
  color: #ccc;
  font-size: 12px;
}

img {
  /* width height - width là chiều dài của phần tử, height là chiều cao */
  width: 300px;
  height: 300px;
}
